div#cv {
    text-align: center;
    background-color: #d1d1d1;
    padding: 25px 5px 25px 100px;
    border-bottom: 3px solid black;
}
span {
    margin-left: 15px;
}
img {
    border: 5px solid #f6f6f6;
    border-radius: 70px;
    float: right;
    height: 11em;
    width: 10em;
}
th {
    background-color: #dddddd;
}
.abc {
    margin-left: 20em;
}
.hey {
    margin-left: 35em;
}
div#form-container {
    background-color: rgb(36, 35, 35);
    color: white;
    padding: 20px;
}
div#form-container div {
    margin: 25px;
}
div#form-container div input {
    margin-left: 40px;
    padding: 5px;
}
input#submit {
    background-color: rgb(42, 165, 165);
    color: black;
}
.danger {
    color: red;
}